/* ./app/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__controls-button {
  border-bottom: 1px solid #1e293b !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}
